<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Winning Eleven Management - Players Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  
  <style>
    /* Custom Styles */
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: #f8f9fa;
    }
    .navbar {
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }
    .navbar-brand {
      font-size: 1.5rem;
    }
    .navbar-nav {
      font-size: 1.2rem;
    }
    .navbar-nav a:hover {
      color: blue;
    }
    .navbar-nav a:hover,
    .navbar-nav a.active {
      color: blue;
    }

  </style>
</head>
 
<body>

  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/stores"><h1>Winning Eleven Management</h1></a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/stores">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/stores/add">Add a New Club</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">All Players List</a>
              </li>
              <li class="nav-item mr-auto">
                <a style="background-color: aqua; color: orangered; padding: 0.5rem; display: inline-block" class="nav-link" href="/search">Search</a>

              </li>
           
            </ul>
          </div>
        </div>
      </nav>
  
    <h2 class="mt-4 mb-4"  style="background-color: #007bff; color: white; padding: 0.5rem; display:inline-block">All Players List</h2>

    <% if (deletedEmployeesName){ %>
      <p style="color: red;"><b>Player: <%=deletedEmployeesName%> has been deleted!</b></p>
    <% }%>

    <div class="employees-position">
        <button id="allBtn">All</button>
        <button id="staffBtn">Goalkeeper</button>
        <button id="supervisorBtn">Defender</button>
        <button id="managerBtn">Midfielder</button>
        <button id="ceoBtn">Striker</button>
    </div>
    <div  id="contentContainer">
        <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">Salary</th>
            <th scope="col">Store's Code</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% dataEmployee.forEach((employee) => { %>
            <tr>
                <td><%= employee.firstName %> <%= employee.lastName %></td>
                <td><%= employee.position %></td>
                <td><%= employee.salary.toLocaleString('id-ID', {
                    style: 'currency',
                    currency: 'IDR'
                }) %></td>
                
                <!-- Iterate over dataStore for each employee -->
                <% const employeeStore = dataStore.find(store => store.id === employee.StoreId); %>
                <td><%= employeeStore ? employeeStore.code : 'N/A' %></td>

                <td><a href="/employees/delete/<%= employee.id %>">Delete</a></td>
            </tr>
            <% }) %>
        </tbody>
        </table>
    </div>  
  </div>


  <!-- JAVASCRIPT BELOW-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
        
        const contentContainer = document.getElementById("contentContainer");

        const allBtn = document.getElementById("allBtn");
        const staffBtn = document.getElementById("staffBtn");
        const supervisorBtn = document.getElementById("supervisorBtn");
        const managerBtn = document.getElementById("managerBtn");
        const ceoBtn = document.getElementById("ceoBtn");



        const showAllEmployeesTable = `<table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">Salary</th>
            <th scope="col">Store's Code</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% dataEmployee.forEach((employee) => { %>
            <tr>
                <td><%= employee.firstName %> <%= employee.lastName %></td>
                <td><%= employee.position %></td>
                <td><%= employee.salary.toLocaleString('id-ID', {
                    style: 'currency',
                    currency: 'IDR'
                }) %></td>
                
                <!-- Iterate over dataStore for each employee -->
                <% const employeeStore = dataStore.find(store => store.id === employee.StoreId); %>
                <td><%= employeeStore ? employeeStore.code : 'N/A' %></td>

                <td><a href="/employees/delete/<%= employee.id %>">Delete</a></td>
            </tr>
            <% }) %>
        </tbody>
        </table>`
        

        const allStaffsTable = `<table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">Salary</th>
            <th scope="col">Store's Code</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% dataEmployee.filter(employee => employee.position === "Goalkeeper").forEach((employee) => { %>
            <tr>
                <td><%= employee.firstName %> <%= employee.lastName %></td>
                <td><%= employee.position %></td>
                <td><%= employee.salary.toLocaleString('id-ID', {
                    style: 'currency',
                    currency: 'IDR'
                }) %></td>
                            
                <!-- Iterate over dataStore for each employee -->
                <% const employeeStore = dataStore.find(store => store.id === employee.StoreId); %>
                <td><%= employeeStore ? employeeStore.code : 'N/A' %></td>

                <td><a href="/employees/delete/<%= employee.id %>">Delete</a></td>
            </tr>
            <% }) %>
        </tbody>
        </table>`  

        const allSupervisorsTable = `<table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">Salary</th>
            <th scope="col">Store's Code</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% dataEmployee.filter(employee => employee.position === "Defender").forEach((employee) => { %>
            <tr>
                <td><%= employee.firstName %> <%= employee.lastName %></td>
                <td><%= employee.position %></td>
                <td><%= employee.salary.toLocaleString('id-ID', {
                    style: 'currency',
                    currency: 'IDR'
                }) %></td>
                            
                <!-- Iterate over dataStore for each employee -->
                <% const employeeStore = dataStore.find(store => store.id === employee.StoreId); %>
                <td><%= employeeStore ? employeeStore.code : 'N/A' %></td>

                <td><a href="/employees/delete/<%= employee.id %>">Delete</a></td>
            </tr>
            <% }) %>
        </tbody>
        </table>` 

        const allManagersTable = `<table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">Salary</th>
            <th scope="col">Store's Code</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% dataEmployee.filter(employee => employee.position === "Midfielder").forEach((employee) => { %>
            <tr>
                <td><%= employee.firstName %> <%= employee.lastName %></td>
                <td><%= employee.position %></td>
                <td><%= employee.salary.toLocaleString('id-ID', {
                    style: 'currency',
                    currency: 'IDR'
                }) %></td>
                
                <!-- Iterate over dataStore for each employee -->
                <% const employeeStore = dataStore.find(store => store.id === employee.StoreId); %>
                <td><%= employeeStore ? employeeStore.code : 'N/A' %></td>

                <td><a href="/employees/delete/<%= employee.id %>">Delete</a></td>
            </tr>
            <% }) %>
        </tbody>
        </table>` 


        const allCeosTable = `<table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">Salary</th>
            <th scope="col">Store's Code</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% dataEmployee.filter(employee => employee.position === "Striker").forEach((employee) => { %>
            <tr>
                <td><%= employee.firstName %> <%= employee.lastName %></td>
                <td><%= employee.position %></td>
                <td><%= employee.salary.toLocaleString('id-ID', {
                    style: 'currency',
                    currency: 'IDR'
                }) %></td>
                            
                <!-- Iterate over dataStore for each employee -->
                <% const employeeStore = dataStore.find(store => store.id === employee.StoreId); %>
                <td><%= employeeStore ? employeeStore.code : 'N/A' %></td>

                <td><a href="/employees/delete/<%= employee.id %>">Delete</a></td>
            </tr>
            <% }) %>
        </tbody>
        </table>` 


        allBtn.addEventListener("click", () =>{contentContainer.innerHTML = `${showAllEmployeesTable}`})
        staffBtn.addEventListener("click", () =>{contentContainer.innerHTML = `${allStaffsTable}`})
        supervisorBtn.addEventListener("click", () =>{contentContainer.innerHTML = `${allSupervisorsTable}`})
        managerBtn.addEventListener("click", () =>{contentContainer.innerHTML = `${allManagersTable}`})
        ceoBtn.addEventListener("click", () =>{contentContainer.innerHTML = `${allCeosTable}`})
        



    });
    </script>

</body>
</html>
