<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Winning Eleven Management - Search</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  


  <style>
    /* Custom Styles */
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: #f8f9fa;
    }
    .navbar {
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }
    .navbar-brand {
      font-size: 1.5rem;
    }
    .navbar-nav {
      font-size: 1.2rem;
    }
    .navbar-nav a:hover {
      color: blue;
    }
    .navbar-nav a:hover,
    .navbar-nav a.active {
      color: blue;
    }

  
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th {
      text-align: left;
      /*border-bottom: 2px solid #000;  Adjust the color and thickness as needed */
    }

    td {
      border: 1px solid #ddd; /* Add borders to table cells for better visibility */
      padding: 8px;
    }


  </style>
</head>
 
<body>

  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/stores"><h1>Winning Eleven Management</h1></a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/stores">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/stores/add">Add a New Club</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/employees">All Players List</a>
              </li>
              <li class="nav-item mr-auto">
                <a style="background-color: aqua; color: orangered; padding: 0.5rem; display: inline-block" class="nav-link" href="/search">Search</a>

              </li>
           
            </ul>
          </div>
        </div>
      </nav>
  

      <div class="d-flex flex-column mb-3">
        <h2 class="mt-4 mb-4"  style="background-color: #007bff; color: white; padding: 0.5rem; display:inline-block">Search for a player or club</h2>

     
        <div class="mb-3" style ="display: inline-block">
            
            <form action="/search" method="get" >
            <label for="exampleFormControlInput1" class="form-label">Club Search</label>
            <input type="text" class="form-control" id="exampleFormControlInput1"rows="1" placeholder="Search by Club Name" name="name">
        
            <label style="padding-top: 1rem;"for="exampleFormControlTextarea1" class="form-label">Player Search</label>
            <input type="text" class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Search by Player's Name" name="firstName"></input>
        
            <button style="margin-top: 1rem;"input type="submit" style="border: 1px solid black; padding: 0.5rem;">Search</button>
    
            </form>
        </div>


        <table class="table-border">
          <thead>
            <tr>
              <th scope="col">Club</th>
              <th scope="col">Location</th>
              <th scope="col">League</th>
              <th scope="col">Players List</th>
            
            </tr>
          </thead>
          <tbody>
            <% combinedTable.forEach((club) => { %>
              <tr id="table-check">
                <td><%= club.name %></td>
                <td><%= club.location %></td>
                <td><%= club.category %></td>


                    <% club.Employees.forEach((player) => { %>
                      <div>
                        <td>Name: <%= player.firstName%> <%= player.lastName%><br>
                          Position: <%= player.position%><br>
                          Salary: <%= player.salary.toLocaleString('id-ID', {
                            style: 'currency',
                            currency: 'IDR'  }) %>        
                        </td>                    
                        <% }) %>
                      </div>
              </tr>
            <% }) %>
          
          </tbody>
        </table>








    </div>


  <!-- JAVASCRIPT BELOW-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


</body>
</html>
